<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <script type="module" src="{{url_for('static', filename='math.js')}}"></script> -->
<script type="module" src="./static/main.js"></script>
<!-- <script type="module" src="{{url_for('static', filename='main.js')}}"></script> -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script> -->
<body>
    <input type="number" id="a">
    <input type="number" id="b">
    <button id="btn">add</button>
    <div id="result"></div>
</body>
</html>