.container {
    margin-top: 20px;
}

.border {
    border: 5px solid rgb(0 0 0) !important;
    border-radius: 10px;
}

.img-fluid.video {
    border-radius: 5px;
}

.video-container {
    position: relative;
}

.wait {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: white;
}